.main_div{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  height: 580px;
  width:100%;
}

.center_div{
  border:1px solid rgb(195, 195, 201);
  border-radius:10px;
  padding:30px;
  text-align:center;
  overflow-y: hidden;
}

.center_div ol{
  height:500px;
  overflow-y: auto;
}

h1{
  padding: 0;
  margin: 0;
}

input{
  padding:10px;
  outline:none;
}

.button_set{
  padding:10px;
  background:rgb(59, 128, 218);
  color:white;
  border:1px solid rgb(74, 74, 78);
  margin-left:10px;
  margin-bottom:5px;
  border: none;
  border-radius: 7px;
}

.button_set:hover{
  color:lightyellow;
  cursor:pointer;
  background:rgb(38, 116, 219);
}

ol{
  list-style: none;
  margin:0;
  padding:0;
}

ol li {
  margin:10px 20px;
  font-size: 20px;
  font-family: cursive;
  text-align: start;
}

.list{
  margin-top: 5px;
  display:flex;
  border-bottom: 1px solid rgb(195, 195, 201);
}

.button_remove{
  padding:10px;
  background:rgb(59, 128, 218);
  color:white;
  border:1px solid rgb(74, 74, 78);
  margin-left:10px;
  margin-bottom:5px;
  border: none;
  border-radius: 7px;
}

.button_remove:hover{
  color:lightyellow;
  cursor:pointer;
  background:rgb(38, 116, 219);
}

.button_edit{
  padding:10px;
  background:rgb(197, 66, 66);
  color:white;
  border:1px solid rgb(74, 74, 78);
  margin-left:10px;
  margin-bottom:5px;
  border: none;
  border-radius: 7px;
}

.button_edit:hover{
  color:lightyellow;
  cursor:pointer;
  background:rgb(165, 50, 50);
}

.imgEdit{
  width: 15px;
}

/* scroll bar */
.center_div ol::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}
 
.center_div ol::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.center_div ol::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}